.base{
    -fx-pref-width: 1280;
    -fx-pref-height: 720;
}

.base-header{
    -fx-pref-height: 60;
}

.base-header-text{
    -fx-font-size: 36;
    -fx-font-weight: bold;
}

.detail-header-text{
    -fx-font-size: 34;
    -fx-font-weight: bold;
}

.detail-title{
    -fx-font-size: 24;
}

.detail-value{
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.detail-checkbox{
    -fx-font-size: 14;
}

.bg-primary{
    -fx-background-color: #1B607B;
}

.bg-yellow{
    -fx-background-color: #FFC901;
}

.bg-red{
    -fx-background-color: #EB5757;
}

.bg-transparent{
    -fx-background-color: transparent;
}

.header{
    -fx-font-size: 36;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.subhead-home{
    -fx-font-size: 18;
}

.home-nav-btn{
    -fx-pref-width: 320;

    -fx-font-size: 34;
    -fx-font-weight: bold;
    -fx-alignment: BOTTOM_CENTER;
    -fx-background-radius: 12;
    -fx-padding:  12 12 0 12;
}

.font-yellow{
    -fx-text-fill: #FFC901;
}

.font-white{
    -fx-text-fill: #FFFFFF;
}

.font-blue{
    -fx-text-fill: #1B607B;
}

.btn{
     -fx-padding: 12 24;
     -fx-background-radius: 8;
     -fx-font-size: 14;
     -fx-text-fill: #FFFFFF;
     -fx-font-weight: bold;
     -fx-alignment: center;
}

.modal-header{
    -fx-background-color: #1B607B;
    -fx-background-radius:  0 0 12 12;
}

.table-view {
    -fx-background-color:white;
    -fx-fill: white;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #FFF89A;
}

.table-view .column-header .label{
    -fx-font-size: 14;
    -fx-text-fill:  #1B607B;
    -fx-font-weight: bold;
}